.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  margin-top: 20px;
  padding: 10px;
  margin-right: 20px;
}

.tile {
  margin-top: 75px;
}


.lineup {
  height: 250px;
}

.profile {
  height: 250px;
}

.pokedex {
  height: 520px;
   overflow: auto;
}

.header {
  margin-top: 40px;
}

.card-title {

}

.card-body {
  
}

table, th, td {
   border: 1px solid black;

}

.app-master {
  padding: 50px;

}